.pagination {
  display: flex;
  justify-content: center;
  &__title {
    text-align: center;
  }
  &__etc {
    display: inline-block;
  }

  &__btnWrap {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__centerBtnsContainer {
    display: flex;
    gap: 10px;
  }

  &__btn {
    height: 50px;
    width: fit-content;
    border-radius: 10px;
    &_selected {
      background-color: orange;
    }
  }
}