.pagination {
  display: flex;
  justify-content: center;
  padding: 4px;
  border-radius: 30px;

  &__title {
    text-align: center;
  }
  &__etc {
    display: inline-block;
    color: white;
    width: 50px;
  }

  &__btnWrap {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__centerBtnsContainer {
    display: flex;
    gap: 10px;
  }

  &__btn {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    &_selected {
      color: orange;
    }

    &_disabled {
      color: gray;
    }

    &:hover {
      background-color: lightgray;
    }
  }
}